<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-xs-12 col-sm-12">
      <div class="card">
        <div class="bg-info card-header text-light">
          Add User
        </div>
        <div *ngIf="isFormError" class="alert alert-danger border-bottom" style="border: none; border-radius: 0;">
          <div>Required field missing!</div>
        </div>
        <div class="card-body">
          <form [formGroup]="form">
            <div class="form-row">
              <div class="col-md-6">
                <app-form-input [input]="username" [form]="form"></app-form-input>
              </div>
              <div class="col-md-6">
                <app-form-input [input]="password" [form]="form"></app-form-input>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <app-form-input [input]="firstName" [form]="form"></app-form-input>
              </div>
              <div class="col-md-6">
                <app-form-input [input]="lastName" [form]="form"></app-form-input>
              </div>
            </div>
            <button [disabled]="!form.valid" class="btn btn-primary">Add User</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
